* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button{
  cursor: pointer;
  border-radius:6px;
}
input,button{
    padding: 10px;
    margin:10px;
    font-size: 18px;
}
.container{
  margin:30px auto;
  width: 50%;
  min-height: 300px;
  background-color: royalblue;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}